@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&display=swap');

.card {
    background-color: var(--background-cards);
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    max-width: 300px;
    border-width: 3px;
    border-style: solid;
    border-color:bisque;
    border-radius: 12px;
    overflow: hidden;
    font-family: 'Mukta', sans-serif;;
}

.c_itemSpan {
    color: bisque;
    font-size: 15px;
}

.card_header {
    position: relative;
}

.card_container-status {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100px;
    background-color: var(--background-cards);
    padding: 5px;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card_circle-status {
    width: 14px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
}

.Dead {
    background-color: red;
}

.unknown {
    background-color: #aaa;
}

.Alive {
    background-color: green;
}

.card_body {
    padding: 20px;
}

.card_name {
    font-weight: 500;
    color:bisque;
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 1rem;
}

.card_list {
    display: grid;
    gap: 6px;
}

.card_item {
    display: grid;
    gap: 2px;
    font-weight: 500;
    font-size: 18px;
}

.card_span {
    color: #ccc9;
    transform: translateX(10px);
}

