.informationWorld {
    background-color: #062226;
    border-style: solid;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    display: grid;
    border-color:bisque;
    border-width: 2px;
}

.nameLocation {
    text-align: center;
    margin-top: 0.5rem;
    color: bisque;
}

.infLoc {
    color: bisque;
}

@media screen and (min-width: 960px) {
    .informationWorld {
        width: 50%;
        font-size: 18px;
    }

    .detailsLocation {
        display: flex;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
        gap: 3rem;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .informationWorld {
        width: 70%;
        font-size: 16px;
    }

    .detailsLocation {
        display: flex;
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        gap: 2rem;
    }
}

@media screen and (max-width: 640px) {
    .informationWorld {
        width: 96%;
        font-size: 14px;
    }

    .detailsLocation {
        display: flex;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        gap: 1rem;
    }
}