/* ---------- Reset ---------- */
:root {
  --background-body: #022231;
  --background-cards: #00354d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-body);
  color:aliceblue;
}

h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

input {
  outline: none;
}